.Loader_box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.Info {
    border: 1px #147EFF;
    border-style: solid none none none;
    margin-top: 80px;
    padding-top: 80px;
}

.Info h1 {
    font-family: ProximaNovaBold;
    font-size: 24px;
    color: #147EFF;
    margin-bottom: 30px;
}

.Info li {
    font-family: ProximaNovaRegular;
    font-size: 24px;
    color: #147EFF;
    margin-left: 20px;
}