.loader {
    height: 100%;
    width: 622px;
    font-family: ProximaNovaBold;
    font-size: 24px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: flow 2s ease-in-out infinite;
    background: linear-gradient(to right, #00EA88, #147EFF, #00EA88, #147EFF);
    background-size: 300%;
    background-position: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes flow {
    from {
        background-position: 100%;
    }
    to {
        background-position: 0%;
    }
}