.messges_box{
margin-top: 40px;
}

.message {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 6px 20px ;
    border: 1px solid;
    border-radius: 4px;
    font-family: ProximaNovaRegular;
    font-size: 18px;
}

.message a {
    color: #00EA88;
    text-decoration: none;
}

.error {
    color: white;
    background: #FF1469;
    border-color: #FF1469;
}
.successful{
    color: #00EA88;
    background: white;
    border-color: #00EA88;
}