.errorMessage {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #d75a5a;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
}
.successfulMessage{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    background: aquamarine;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
}