* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {

}

.App{
}

.Login{
    height: 704px;
    background: url(../images/login.jpg) no-repeat center /cover;
}

.Body{
    height: 100px;
    background: url(../images/login.jpg) no-repeat center /cover;
}