* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {

}

.App{
}

.Loader{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    height: 704px;
    width: 100%;
    background: url(../images/login.jpg)  center;
}

.Login{
    height: 704px;
    background: url(../images/login.jpg)  center;
}

.Body{
    height: 100px;
    background: url(../images/login.jpg)  center;
}