.Button{
    font-family: ProximaNovaBold;
    font-size: 20px;
    width: 160px;
    height: 40px;
    text-transform: uppercase;
    color: white;
    background-color: #147EFF;
    border-color: #147EFF;
    border-radius: 2px;

}

.Button:disabled{
    background-color: #D2D2D2;
    border-color: #D2D2D2;
}

.Button:disabled:hover{
    background-color: #D2D2D2;
    border-color: #D2D2D2;
}

.Button:disabled:active{
    background-color: #D2D2D2;
    border-color: #D2D2D2;
}

.Button:hover{
    background-color: #1E5FDF;
    border-color: #1E5FDF;
}

.Button:active{
    background-color: #00EA88;
    border-color: #00EA88;
}